/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Maax", "Montserrat", Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
h1, h2 { font-weight: 900; }
h3, h4, h5, h6 { font-weight: bold; }
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; padding: 25px;}
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }
main { padding: 1%; }

/* Début CSS Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #493389;
}
header > a {
  width: 65%;
  max-height: 150px;
  margin: 0;
  padding: 0;
}
header > a > img {
  max-height: 150px;
}
.sous-menu {
  width: 35%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}
.sous-menu-item {
  margin: 1% 3%;
}
.sous-menu-item > a {
  color: white;
  text-decoration: none;
}
.sous-menu-item > a:hover {
  color: #59BBA4;
}
.flag {
  height: 20px;
  border: 1px solid white;
}
.icon {
  font-size: 1.2rem;
  color: white;
}
#toTop {
  position: fixed;
  bottom: 160px;
  right: 30px;
}
#toTop > a {
  font-size: 3rem;
  text-decoration: none;
  border: 1px solid #E72586;
  border-radius: 10px;
  padding: 2px 16px;
  background-color: white;
  color: #493389;
}
/* Fin CSS Header */

/* Début CSS NavBar */
.menu_mobile{
  display: none;
}
.menu {
  width: 100%;
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  background-color: white;
}
.navItem {
  height: 48px;
  width: 20%;
  text-align: center;
}
.navItem:hover {
  background-color: #59BBA4;
}
.navLink {
  text-decoration: none;
  color: #000000;
  display: block;
  width: 100%;
  height: 48px;
  padding-top: 15px;
  font-size: 1.2rem;
  font-weight: normal;
}
.navActive {
  font-weight: bold !important;
  background-color: #f5f5f5;
}
.In{
  display: none;
}
/* Fin CSS NavBar */

/* Début CSS page d'accueil */
.accueil {
  background-color: #f5f5f5;
  width: 100%;
}
/* Début CSS du Carousel*/
.slides {
  display: none;
}
/* Contenant */
.slider-container {
  max-width: 932px;
  position: relative;
  margin: auto;
}
.slider-container > div > img{
  width: 100%;
}
/* Boutons suivant et précédant */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 30px 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background: rgba(73, 51, 137, 0.3);
  user-select: none;
}
/* Positionne de bouton suivant à droite */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Ajoute un fond noir légérement transparent au passage de la souris */
.prev:hover, .next:hover {
  background-color: rgba(73, 51, 137, 0.8);
}
/* Texte du Carousel */
.text {
  background-color: rgba(73, 51, 137, 0.7);
  color: #fff;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Indicateurs de position */
.dots {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #59BBA4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #493389;
}
/* Fin CSS Carousel */
.descrip{
  width: 60%;
  margin: auto;
  margin-top: 30px;
}
.descrip > p {
  font-size: 1.2rem;
  margin-top: 20px;
}
.descrip > h3 {
  color: #493389;
}
.news {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2% 1%;
  margin-top: 40px;
}
.titreSection {
  width: 100%;
  text-align: center;
  color: #493389;
}
.contenuSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.article {
  width: 48%;
  margin: 2% 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}
.titreArticle {
  width: 100%;
  color: #493389;
}
.contenuArticle {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.imageArticle {
  width: 30%;
}
.texteArticle {
  width: 55%;
  margin: 2% 1%;
}
.
/* Fin CSS page d'accueil */

/* Début CSS page ForgeLab */
.forgeLab {
  background-color: #f5f5f5;
  padding: 1% 5% 2% 5%;
  width: 100%;

}

.titreSable, .lienFablab {
  color: #FFD444;
  width: 100%;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2% 0;
}
.imgDesc {
  width: 39%;
  margin-right: 1%;
}
.imgDesc > img {
  width: 100%;
}
.textDesc {
  width: 60%;
  margin-top: 3%;
}
.textDesc > p, .textDesc > dl {
  width: 66%;
  margin: auto;
  margin-top: 50px;
  font-size: 1.2rem;
  /* margin: 0 10% 0 10%; */
}
.textDesc > dl{
  margin-top: 5px;
}
.machines {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}
.machine {
  width: 100%;
  margin: 2% 5%;
  display: flex;
  flex-direction: row;
}
.imgMachine {
  width: 35%;
}
.imgMachine > img {
  width: 100%;
}
.descMachine {
  width: 55%;
  margin: auto;
}
.descMachine > h5 {
  margin-bottom: 1%;
}
.liens-machine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.liens-machine > a:hover {
  background-color: #ccc;
  color: #000;
}
/* Fin CSS page ForgeLab */

/* Début CSS page de Co-Working */
.coworking {
  background-color: #f5f5f5;
  padding: 1% 5% 2% 5%;
  width: 100%;

}
.citation{
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
  font-style: italic;
  margin-top: 60px;
}

.moreInfo {
  margin: 0 10%;
}
.moreInfo > p{
  padding: 20px 0;
  width: 65%;
  margin: auto;
}
/* Fin CSS page de Co-Working */

/* Début CSS page de Formations */
.formation {
  background-color: #f5f5f5;
  padding: 1% 5% 2% 5%;
  width: 100%;
}
.titreAqua {
  color: #59BBA4;
}
.logoFormation {
  width: 20%;
  margin: auto 5%;
}
.logoFormation > img {
  max-height: 180px;
}
.textFormation {
  width: 60%;
  margin: auto 7% auto 3%;
}
.lienFormation {
  color: #59BBA4;

}
ol{
  margin-top: 30px;
  list-style-position: inside;
}
.textFormation > ol > li{
  margin-bottom: 10px;
}
.textFormation> ol > li > u{
  font-size: 1.3rem;
}
.textFormation > dl > dt{
  margin-top: 15px;
}
.textFormation > p {
  margin-top: 20px;
}
/* Fin CSS page de Formations */

/* Début CSS page de la Pépinière*/
.pepiniere {
  background-color: #f5f5f5;
  padding: 1% 5% 2% 5%;
  width: 100%;
}
.titreRose {
  color: #E72586;
  width: 100%;
  margin: auto;
}
.gros_titre{
  text-align: center;
}
.element_pepiniere {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5% 0;
}
.logo_pepiniere {
  width: 24%;
  margin-right: 1%;
  align-self: center;
}
.logo_pepiniere > img {
  max-height: 120px;
}
.desc_pepiniere {
  width: 75%;
}
/* Fin CSS page de la Pépinière */

/*début CSS infos pratiques*/
.InfoPrat {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  width: 100%;

}
#contact{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.maps
{
  position: relative;
  width: 50%;
}

.maps iframe
{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.infos {
  padding: 50px;

}
/* début CSS formulaire */
.container {
  width: 100%;
}
#titre {
  text-align: center;
  margin-top: 50px;
  font-size: 2em;
}
.form {
  width: 100%;
  margin-top: 50px;
  margin: 0 auto;
  text-align: center;
}
.flex-form{
  display: flex;
  justify-content: center;
}
.row{
  margin: 0 25px;
}
#user_name, #user_firstname, #user_email, #user_message {
  width: 206px;
  box-sizing: border-box;
  padding: 5px;
}
#user_name:focus, #user_firstname:focus,
#user_email:focus, #user_message:focus {
  border-color: #000;
}
label {
  display: inline-block;
  width: 90px;
}

form label, form input, form textarea{
  margin-top: 3em;
}

#user_message {
  vertical-align: top;
  height: 12em;
}
#user_name {
  height: 3em;
}
#user_firstname {
  height: 3em;
}
#user_email {
  height: 3em;
}
.btn1, .btn2, .btn3 {
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
  border: none;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn1{
  width: 13em;
  height: 40px;
  background: #ffd444; /* Sable */
  color: #E72586; /* Rose */

}
.btn2{
  width: 13em;
  height: 40px;
  background: #59bba4; /* Aquamarine */
  color: #493389; /* Bleu */
}
.btn3{
  width: 13em;
  height: 40px;
  background: #E72586; /* Rose */
  color: #ffd444; /* Sable */
}
/* Fin CSS formulaire */
/* fin CSS infos pratiques */

/* Début CSS footer */
#partenaires {
  width:calc(100%/3);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.logo_partenaire {
  max-height: 50px;
}
footer {
  width: 100%;
  padding: 30px;
  background-color: #493389;
  color: #fff;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.newsletter {
  width:calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mailNewsletter {
  /* width: 300px; */
  padding: 6px 14px;
  border-radius: 5px;
}
.buttonNewsletter {
  padding: 6px 8px;
  background: #59bba4;
  border-radius: 15px;
}
.cgu {
  width:calc(100%/3);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.cgu > a {
  color: white;
  text-decoration: none;
}
.cgu > a:hover {
  color: #ccc;
}
/* Fin CSS footer */
/* début css Modaux*/
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.modal-reservation {
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: #fff;
}
.start {
  width: 31%;
  display: block;
  font: 1rem;
  text-align: inherit;
}
/* Pour l'instant */
.container{
  width: 100%;
}
.error{
  color:red;

     display: table-footer-group;
}


@media screen and (max-width: 768px) {
  #toTop, .sous-menu {
    display: none;
  }
  .titreAqua, .titreRose, .titreSable, .titreArticle, .titreSection {
    text-align: center;
  }
  .contenuSection, .flex-form, .contenuArticle, .machine, .liens-machine, .description,
  .element_pepiniere {
    flex-direction: column;
    justify-content: center;
  }
  .article, .imageArticle, .texteArticle, .imgDesc,.textDesc, .textDesc > p,
  .textDesc > dl, .imgMachine, .descMachine, #partenaires, .cgu, .newsletter,
  .logoFormation, .textFormation, .logo_pepiniere, .desc_pepiniere, .description,
  section {
    width: 100%;
    margin: 0;
  }
  .logo_pepiniere, .logoFormation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .textFormation > p {
    text-align: justify;
  }
  .textFormation > ol {
    list-style-position: inside;
  }
  .description, .element_pepiniere, section {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .cgu {
    padding: 30px 0;
  }
  .maps {
    width: 100%;
  }
  .descrip{
    width: 90%;
  }
  .desccrip > p{
    font-size: 1rem;
  }
  .textDesc > p{
    margin-top: 15px;
    font-size: 1rem;
  }
  .descMachine > p{
    font-size: 1rem;
  }
  .moreInfo > p {
    width: 100%;
  }
  .textFormation > p {
    font-size: 1rem;
  }
  .textFormation > dl > dt {
    font-size: 1rem;
  }
  .textFormation > ol > li{
    font-size: 1rem;
  }
